/* theme.css */

body.dark {
    background-color: #111827; 
    color: #ffffff;
}
body.dark table th,
body.dark table td {
    color: #ffffff;
    background-color: #1f2937;
}
/* Cards and boxes */
body.dark .bg-white {
    background-color: #1e293b !important;
}
body.dark .text-black {
    color: #ffffff !important;
}
body.dark .hover\:text-black:hover {
    color: #ddd !important;
}
.shadow{
    color: #111827;
}
.trend  ul {
   display: flex; 
   gap:20px;
   align-items:center;
}
#favorites-coins ul{
    display: flex; 
   gap:20px;
   align-items:center;
}